.info-container{
    height: 500px;
    background-image: url('/assets/img/top.jpg');
    background-size: cover;
}

.info-txt{
    width: 560px;
    float: right;
    margin-right: 15px;
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .info-txt{
        width: 100%;
        margin: 0;
    }
}

.info-txt h2{

}